html {
  height:100%;
  width:100%;
  background-color:#fff;
}

.on_visit {
  height:140px;
  width:100%;
  background-color:#232323;
  font-family:"Lucida Console", "Courier New", monospace;
  font-size:40px;
  color:#fff;
  display:flex;
  z-index: 1000;
  align-items:center;
  marquee-gap: 8px;
}

.wrapped {
  display: flex;
  width: max-content;
  animation: marquee-scroll 10s linear infinite;
}
