html {
  background-color:#fff;
  height: 100%;
  max-width: 100%;
}

on_visit {
  height: 80px;
  width: 100%;
  margin: 10px;
  background-color:#000;
  colour:#fff;
  display: flex;
  align-items: center;
}

h3 {
  font-family: "Segoe UI light", Segoe, sans-serif;
  font-size: 48px;
  font-weight: 800px;
}
